/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
  background-color: #e0ebff;
  font-family: sans-serif;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px;
  /*grid-auto-rows: 400px;*/
  grid-template-areas:
    'header header'
    'welcome welcome'
    'story story'
    'solution solution'
    'team tetatet'
    'benefits benefits'
    'contact contact'
    'about about'
    'footer footer';
}

.navbar {
  float: right;
  display: inline;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #e0ebff;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 17px;
  /*overflow: hidden;*/
}
a {
  color: #03338c;
  float: right;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-size: 22px;
}
.story-block {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 500px;
  width: 1424px;
  align-self: center;
}

header {
  grid-area: header;
  background-color: #e0ebff;
}

.main_button {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1.5px;
  border-style: solid;
  border-color: #FF7800;
  cursor: pointer;
  position: relative;
  background-color: #FF780000;
  z-index: 1;
  color: #FF7800;
  display: flex;
  /*position: absolute;*/
}

.main_button::after {
  content: "";
  /*background-color: #FF780000;*/
  background-color: white;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border: 1.5px;
  border-style: solid;
  border-color: #FF7800;
}

.main_button:hover::after {
  top: -1.5px;
  left: -1.5px;
  /*border: 0px;*/
}

welcome {
  grid-area: welcome;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
  url(../img/presentation.jpeg);
  background-size: cover;
}

.welcome__header h1 {
  /*align-items: center;
  justify-content: center; */
  color: #FF7800;
  font-size: 60px;
}

.welcome__header p {
  text-align: center;
  font-size: 20px;
  color: #e0ebff;
}

story {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: story;
  text-align: center;
  align-items: center;
  display: grid;
  width: 100vw;
  height: 100vh;
}

/*figure out how to make it response for mobile*/
/*otherwise it's too much padding*/
.story__header {
  /*padding-left: 200px;*/
  /*padding-right: 200px;*/
  grid-area: story;
  /*text-align: center;*/
  /*align-items: center;*/
  display: grid;
  width: 100vw;
  height: 100vh;
}

.story__header h3 {
  margin: auto;
  /*display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  font-weight: lighter;
  color: #03338c;
  font-size: 28px;
  padding-top: 40px;
  margin-bottom: 20px;
  /*line-height: 1.25;*/
}

.story__header h4 {
  text-align: center;
  font-size: 19px;
  color: #FF7800;
  font-weight: lighter;
  margin-top: 0;
}

.story__header p {
  font-size: 20px;
  color: #03338c;
  margin-top: 0px;
  line-height: 1.4;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 15px;
}

.story__header button {
  margin: auto;
  align-self: center;
  position: relative;
  top: 5px;
  /*margin-top:;*/
}

solution {
  grid-area: solution;
  width: 100vw;
  height: 80vh;
}

.solution__block {
  padding-left: 200px;
  padding-right: 200px;
}

.solution__block h3 {
  /*display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  font-weight: lighter;
  color: #03338c;
  font-size: 28px;
  padding-top: 40px;
  margin-bottom: 0;
  /*line-height: 1.25;*/
}

.solution__block h4 {
  text-align: center;
  font-size: 19px;
  color: #FF7800;
  font-weight: lighter;
  margin-top: 7px;
}

.solution__block p {
  font-size: 20px;
  color: #03338c;
  margin-top: 0;
  line-height: 1.4;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 15px;
}

.accent {
  color: #FF7800;
}

.team__card {
  grid-area: team;
}

.tetatet__card {
  grid-area: tetatet;
}

.program__tetatet {
  padding-right: 100px;
}

.program__team {
  padding-left: 100px;
}

.program__block h3 {
  /*display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  font-weight: lighter;
  color: #03338c;
  font-size: 28px;
  padding-top: 40px;
  margin-bottom: 10px;
  /*line-height: 1.25;*/
}

.program__block p {
  font-size: 20px;
  color: #03338c;
  margin-top: 0;
  line-height: 1.4;
  font-weight: lighter;
  text-align: left;
  margin-bottom: 15px;
}

.program__block ul li {
  display: block;
  position: relative;
  color: #03338c;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 5px;
}

.program__block ul {
  margin-top: -10px;
}

.program__block ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -20px;
  margin-top:-.8em;
  background: #FF7800;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

contact {
  grid-area: contact;
  width: 100vw;
}
.contact button {
  /*display: flex;*/
  margin: auto;
}

.benefits__block {
  grid-area: benefits;
  width: 80vw;
  height: 100vh;
  justify-self: center;
}

.benefits {
  display: flex;
  /*position: center;*/
  justify-content: center;
  margin-left: 250px;
  margin-right: 250px;
}

.benefits__block ul li {
  display: block;
  position: relative;
  color: #03338c;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 5px;
  margin-bottom: 15px;
}

.benefits__block ul {
  margin-top: -10px;
}

.benefits__block h2 {
  /*display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  font-weight: lighter;
  color: #03338c;
  font-size: 38px;
  padding-top: 40px;
  margin-bottom: 50px;
  /*line-height: 1.25;*/
  margin-left: 250px;
  margin-right: 250px;
}

.benefits__block ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -20px;
  margin-top: -.8em;
  background: #FF7800;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

/* iPhone SE(2016)*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
  .container {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 80px;
    /*grid-auto-rows: 400px;*/
    grid-template-areas:
    'header'
    'welcome'
    'story'
    'solution'
    'team'
    'tetatet'
    'benefits'
    'contact'
    'about'
    'footer';
  }

  .welcome__header h1 {
    font-size: 46px;
  }

  .welcome__header p {
    font-size: 16px;
  }
  .story__header {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    height: 70vh;
  }
  .story__header h3 {
    font-size: 21px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .story__copy {
    max-width: 93%;
  }

  .story__header p {
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
  }

  .solution__block {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  solution {
    grid-area: solution;
    width: 100vw;
    height: 110vh;
  }

  .team__card{
    grid-area: team;
    border-color: white;
    border-style: solid;
    border-width: .05em;
    background-color: white;
    margin-bottom: .25em;
    margin-right: 20px;
    margin-left: 20px;
  }

  .tetatet__card {
    grid-area: tetatet;
    /*border: #FF7800;*/
    border-color: white;
    border-style: solid;
    border-width: .05em;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: .25em;
  }

  .tetatet__card h3 {
    padding-top: 0;
    text-align: left;
    font-size: 21px;
    margin-top: 5px;
  }

  .team__card h3 {
    padding-top: 0;
    text-align: left;
    font-size: 21px;
    margin-top: 5px;
  }

  .program__block ul li {
    color: #03338c;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 0;
    padding-right: 70px;
    /*padding-left: -50px;*/
    margin-bottom: 5px;
  }

  .program__block ul {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    padding-left: 20px;
  }

  .program__block ul li:before {
    content: "";
    position: absolute;
    top: 1.3em;
    left: -20px;
    margin-top: -.8em;
    background: #FF7800;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }

  .program__block p {
    font-size: 14px;
  }

  .program__team {
    padding-left: 10px;
    padding-right: 10px;
  }

  .program__tetatet {
    padding-right: 10px;
    padding-left: 10px;
  }

  .benefits__block {
    height: 110vh;
    width: 100vw;
  }
  .benefits {
    margin-left: 20px;
    margin-right: 20px;
  }

  .benefits__block h2 {
    font-size: 21px;
    margin-left: 25px;
    margin-right: 10px;
    text-align: left;
  }

  .benefits__block ul li {
    font-size: 14px;
  }

  .contact {
    grid-area: contact;
    height: 100px;
    position:-webkit-sticky;
    position: sticky;
    bottom: 25px;
  }

  #contact_button {
    visibility: hidden;
  }

}
/* iphone 11 */
/*@media only screen and (min-width: 414px) and (max-width: 767px) {*/

/* iphone 8+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 737px) {

  .container {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 80px;
    /*grid-auto-rows: 400px;*/
    grid-template-areas:
    'header'
    'welcome'
    'story'
    'solution'
    'team'
    'tetatet'
    'benefits'
    'contact'
    'about'
    'footer';
  }

  .welcome__header h1 {
    font-size: 46px;
  }

  .welcome__header p {
    font-size: 16px;
  }
  .story__header {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
  }
  .story__header h3 {
    font-size: 21px;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .story__copy {
    max-width: 93%;
  }

  .story__header p {
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
  }

  .solution__block {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  solution {
    grid-area: solution;
    width: 100vw;
    height: 100vh;
  }

  .team__card{
    grid-area: team;
    border-color: white;
    border-style: solid;
    border-width: .05em;
    background-color: white;
    margin-bottom: .25em;
    margin-right: 20px;
    margin-left: 20px;
  }

  .tetatet__card {
    grid-area: tetatet;
    /*border: #FF7800;*/
    border-color: white;
    border-style: solid;
    border-width: .05em;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: .25em;
  }

  .tetatet__card h3 {
    padding-top: 0;
    text-align: left;
    font-size: 21px;
    margin-top: 5px;
  }

  .team__card h3 {
    padding-top: 0;
    text-align: left;
    font-size: 21px;
    margin-top: 5px;
  }

  .program__block ul li {
    color: #03338c;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 0;
    padding-right: 70px;
    /*padding-left: -50px;*/
    margin-bottom: 5px;
  }

  .program__block ul {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    padding-left: 20px;
  }

  .program__block ul li:before {
    content: "";
    position: absolute;
    top: 1.3em;
    left: -20px;
    margin-top: -.8em;
    background: #FF7800;
    height: 8px;
    width: 8px;
    border-radius: 50%;
  }

  .program__block p {
    font-size: 14px;
  }

  .program__team {
    padding-left: 10px;
    padding-right: 10px;
  }

  .program__tetatet {
    padding-right: 10px;
    padding-left: 10px;
  }

  .benefits__block {
    height: 80vh;
    width: 100vw;
  }
  .benefits {
    margin-left: 20px;
    margin-right: 20px;
  }

  .benefits__block h2 {
    font-size: 21px;
    margin-left: 25px;
    margin-right: 10px;
    text-align: left;
  }

  .benefits__block ul li {
    font-size: 14px;
  }

  .contact {
    grid-area: contact;
    height: 100px;
    position:-webkit-sticky;
    position: sticky;
    bottom: 25px;
  }

  #contact_button {
    visibility: hidden;
  }
}

about {
  grid-area: about;
  width: 100vw;
  height: 100vh;
}

footer {
  grid-area: footer;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

